.venv
*.DS_Store
.idea
/src/__pycache__/**
/src/clustering/__pycache__/**
/src/datasets/__pycache__/
/src/project_helper/__pycache__/**
/src/side_handler/__pycache__/**
/src/experiment_runner/__pycache__/**
/src/dataset_metafeatures/results/**
/src/dataset_metafeatures/__pycache__/**
/logs/**
/cl_res/**
log
__pycache__/**